<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <display-name>Census2 Tests</display-name>
    
    <filter>
        <filter-name>Byte Array Traffic Filter</filter-name>
        <filter-class>com.jamesward.census2.ByteArrayTrafficFilter</filter-class>
    </filter>

    <filter>
        <filter-name>GZIP Filter</filter-name>
        <filter-class>com.jamesward.census2.GZIPFilter</filter-class>
    </filter>


    <filter-mapping>
        <filter-name>Byte Array Traffic Filter</filter-name>
        <url-pattern>/servlet/CensusServiceServlet</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>GZIP Filter</filter-name>
        <url-pattern>/servlet/CensusServiceServlet</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>Byte Array Traffic Filter</filter-name>
        <url-pattern>/services/CensusSOAPService</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>GZIP Filter</filter-name>
        <url-pattern>/services/CensusSOAPService</url-pattern>
    </filter-mapping>
    
    <servlet>
	    <servlet-name>MessageBrokerServlet</servlet-name>
	    <display-name>MessageBrokerServlet</display-name>
	    <servlet-class>flex.messaging.MessageBrokerServlet</servlet-class>
	    <init-param>
	      <param-name>services.configuration.file</param-name>
	      <param-value>/WEB-INF/flex/services-config.xml</param-value>
	    </init-param>
	    <load-on-startup>1</load-on-startup>
	  </servlet>
  
    <servlet>
        <servlet-name>Census Service Servlet</servlet-name>
        <display-name>Census Service Servlet</display-name>
        <servlet-class>com.jamesward.census2.CensusServiceServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

		<servlet>
      <servlet-name>CensusSOAPService</servlet-name>
      <servlet-class>com.jamesward.census2.CensusService</servlet-class>
    </servlet>

	  <servlet-mapping>
	    <servlet-name>MessageBrokerServlet</servlet-name>
	    <url-pattern>/messagebroker/*</url-pattern>
	  </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Census Service Servlet</servlet-name>
        <url-pattern>/servlet/CensusServiceServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
      <servlet-name>CensusSOAPService</servlet-name>
      <url-pattern>/services/CensusSOAPService</url-pattern>
    </servlet-mapping>

</web-app>